<% @dogs.each do |dog|%>
<h2><a href="/dogs/<%= dog.id %>"><%= dog.name + " is a "%><%= dog.breed%></a></h2>
<%= button_to "Kill Doggy", dog, :method => :delete, :class => :destroy %><br>
<%= button_to "Edit Doggy", edit_dog_path(dog), :method => :get %>
<% end %>
<br><br>
<%= button_to "Buy A Doggy", new_dog_path(@dog), :method => :get %>


